<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Form Validation</title>
</head>
<script>
    
</script>
<body>
    <h1>UPDATE FORM</h1>
   
  
    <form id="form"  action="/update/:ID" method="POST">
       
       <ul>
        <li>
            <label for="">ID</label>
            <input type="text" name="ID" value="" autocomplete='off'>
        </li>
           <li>
               <label for="">FirstName</label>
               <input type="text" name="fname" value="<%=typeof fname !='undefined'? fname:''%>" autocomplete='off'>
           </li>
           <li>
            <label for="">MiddleName</label>
            <input type="text" name="mname" value="<%=typeof mname !='undefined'? mname:''%> " autocomplete='off'>
        </li>
        <li>
            <label for="">LastName</label>
            <input type="text" name="lname" value="<%=typeof lname !='undefined'? lname:'' %>" autocomplete='off'>
        </li>
        <li>
            <label for="">Email</label>
            <input type="text" name="email" value="<%=typeof email !='undefined'? email:'' %>" autocomplete='off'>
        </li>
        <li>
            <label for="">Phone</label>
            <input type="text" name="phone" value="<%=typeof phone !='undefined'? phone:''%> " autocomplete='off'>
        </li>
        <li>
            <button id='btn' type="Submit">Submit</button>
        </li>
       </ul>
 </form>

 <a href="/form">New form</a>
 
</body>
</html>